@use "manager" as *;
@use "../utils" as *;
.neo-visual-cardsearchlist {
    @include visual-common('[data-id="neo-card-search-list-button"]', '[data-id="neo-visual-button"]');
    #searchList:not(.neo-cardsearchlist) {
        & > .b3-list-item {
            background-color: var(--b3-list-hover);
        }
        .b3-list-item[data-type="search-item"] {
            --b3-list-hover: transparent;
            transition: var(--b3-transition);
            &.b3-list-item--focus {
                color: var(--b3-theme-accent);
                .b3-list-item__text,
                .b3-list-item__graphic {
                    color: var(--b3-theme-accent);
                }
            }
        }
    }
    #searchList.neo-cardsearchlist,
    #searchUnRefList.neo-cardsearchlist,
    #searchAssetList.neo-cardsearchlist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
        grid-auto-rows: max-content;
        gap: 8px;
        padding: 8px;
        & .b3-list-item[data-type=search-item] {
            margin: 0;
            padding: 8px;
            outline: 1px solid var(--b3-border-color-trans);
            @include superellipse(8px);
            &.b3-list-item--focus {
                outline-color: oklch(from var(--b3-list-active) l c h / 0.25);
                background-color: var(--b3-list-active);
            }
        }
    }
}
