@use "manager" as *;
.neo-visual-scrolleffect {
    @include visual-common('[data-id="neo-scroll-effect-button"]', '[data-id="neo-visual-button"]');
}
#preview,
.export-img,
.sy__backlink {
    [data-node-id],
    .protyle-action,
    .callout-info {
        animation: none !important;
    }
}
.neo-sidememo-protyle .protyle-title {
    animation: none !important;
}
.protyle-breadcrumb ~ .protyle-content {
    [data-node-id],
    .protyle-action,
    .callout-info {
        animation:
            neo-scroll-reveal-entry cubic-bezier(0.46, 0.03, 0.52, 0.96) both,
            neo-scroll-reveal-exit cubic-bezier(0.46, 0.03, 0.52, 0.96) forwards;
        animation-timeline: view(block), view(block);
        animation-range: entry 0% entry 120px, exit calc(100% - 120px) exit 100%;
    }
    .protyle-wysiwyg > [data-node-id]:first-child {
        animation: neo-scroll-reveal-exit cubic-bezier(0.46, 0.03, 0.52, 0.96) forwards;
        animation-timeline: view(block);
        animation-range: exit calc(100% - 50px) exit 100%;
    }
    .protyle-wysiwyg > [data-node-id]:last-child {
        animation: neo-scroll-reveal-entry cubic-bezier(0.46, 0.03, 0.52, 0.96) forwards;
        animation-timeline: view(block);
        animation-range: entry 50px entry 100%;
    }
    .protyle-wysiwyg > [data-node-id]:only-child {
        animation-timeline: unset;
        [data-node-id] {
            animation: none;
        }
    }
}
@keyframes neo-scroll-reveal-entry {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.9);
        filter: blur(6px);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}
@keyframes neo-scroll-reveal-exit {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px) scale(0.9);
        filter: blur(6px);
    }
}