@use "manager" as *;
$scroll-effect-trans: cubic-bezier(0.46, 0.03, 0.52, 0.96);
.neo-visual-scrolleffect {
    @include visual-common('[data-id="neo-scroll-effect-button"]', '[data-id="neo-visual-button"]');
    #preview [data-node-id],
    .protyle-wysiwyg [data-type=NodeBlockQueryEmbed][data-node-id] {
        animation: none !important;
    }
    .protyle-wysiwyg [data-node-id],
    .protyle-title,
    .protyle-action,
    .callout-info,
    .config-items > .b3-label {
        animation: neo-content-scroll-reveal $scroll-effect-trans both;
        animation-timeline: view(block);
    }
    @keyframes neo-content-scroll-reveal {
        0% {
            opacity: 0.2;
            transform: translate(5px, 15px);
            filter: blur(2px);
        }
        15% {
            opacity: 1;
            transform: translate(0, 0);
            filter: blur(0);
        }
        85% {
            opacity: 1;
            transform: translate(0, 0);
            opacity: 1;
            transform: translate(0, 0);
            filter: blur(0);
        }
        100% {
            opacity: 0.5;
            transform: translate(-5px, -15px);
            filter: blur(2px);
        }
    }
}