@use "manager" as *;
@property --neo-smooth-caret-rainbow-hue {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
}
$smooth-caret-trans: 0.75s cubic-bezier(0.1, 0.9, 0.2, 1);
$smooth-caret-breathing: 1s cubic-bezier(0.4, 0, 0.2, 1);
.neo-visual-smooth-caret {
    @include visual-common('[data-id="neo-smooth-caret-button"]', '[data-id="neo-visual-button"]');
    .protyle-wysiwyg,
    .protyle-title__input,
    [data-type="NodeHeading"] {
        caret-color: transparent !important;
    }
    #neo-smooth-caret-item {
        position: fixed;
        width: 2px;
        border-radius: 8px;
        pointer-events: none;
        opacity: 1;
        background-color: var(--neo-smooth-caret-color, var(--b3-theme-accent));
        transition: $smooth-caret-trans, opacity 0.3s;
        will-change: transform, height;
        &.neo-smooth-caret-hidden {
            opacity: 0 !important;
            animation: none !important;
        }
    }
    body.neo-visual-smooth-caret-breathing {
        #neo-smooth-caret-item {
            animation: neo-mooth-caret-breathing $smooth-caret-breathing infinite;
        }
    }
    body.neo-visual-smooth-caret-neon {
        #neo-smooth-caret-item {
            box-shadow: 0 0 4px var(--neo-smooth-caret-color, var(--b3-theme-accent)), 0 0 10px var(--neo-smooth-caret-color, var(--b3-theme-accent)), 0 0 20px var(--neo-smooth-caret-color, var(--b3-theme-accent));
        }
    }
    body.neo-visual-smooth-caret-rainbow {
        #neo-smooth-caret-item {
            animation: neo-smooth-caret-rainbow-hue 6s linear infinite;
            background-color: oklch(from var(--b3-theme-accent) l c calc(h + var(--neo-smooth-caret-rainbow-hue, 0)));
        }
    }
}
@keyframes neo-mooth-caret-breathing {
    0%   { opacity: 1; }
    45%  { opacity: 1; }
    50%  { opacity: 0; }
    55%  { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes neo-smooth-caret-rainbow-hue {
    0% {
        --neo-smooth-caret-rainbow-hue: 0;
    }
    100% {
        --neo-smooth-caret-rainbow-hue: 360;
    }
}