@use "manager" as *;
@use "../utils" as *;
.b3-menu__item[data-id="neo-vertical-tabs-button"] {
    .neo-mobile & {
        display: none;        
    }
    .body--toolbar-hide & {
        opacity: 0.38;
    }
}
.neo-visual-verticaltabs {
    @include visual-common('[data-id="neo-vertical-tabs-button"]', '[data-id="neo-visual-button"]');
    body:not(.body--toolbar-hide) {
        .neo-verticaltabs-wnd {
            flex-direction: row;
            .neo-verticaltabs-resize {
                margin: 0 -1.5px;
                &:not(:hover)::after {
                    background-color: var(--b3-border-color-trans);
                }
            }
            & > .fn__flex:first-child {
                flex-direction: column;
                height: 100%;
                animation: none;
                & > .layout-tab-bar:not(.layout-tab-bar--readonly) {
                    flex: 1;
                    flex-direction: column;
                    overflow-y: scroll;
                    @include overflow-indicator-fadein-mask($fadeout-size-l, "top bottom");
                    .item {
                        margin: 3px 6px;
                        width: calc(100% - 12px);
                        max-width: unset;
                        &:first-child {
                            margin-top: 6px;
                        }
                        &:last-child {
                            margin-bottom: 6px;
                        }
                        .item__icon, .item__graphic, .item__text {
                            transform: none;
                        }
                        .item__text {
                            max-width: fit-content;
                            margin-right: -22px;
                        }
                        .item__close {
                            margin-left: auto;
                        }
                        &::before {
                            display: none;
                        }
                        &.item--pin {
                            .item__text {
                                display: flex !important;
                                margin-right: -22px !important;
                            }
                            .item__close {
                                display: flex !important;
                                visibility: hidden;
                                pointer-events: none;
                            }
                        }
                        &:hover {
                            .item__text {
                                margin-right: 0;
                            }
                        }
                    }
                }
                & > .layout-tab-bar--readonly {
                    flex: 0 0 auto;
                    margin: 0;
                    & > .item--readonly {
                        justify-content: center;
                        & > .fn__flex-1 {
                            flex: 1;
                            display: block;
                        }
                        & > [data-type="new"] {
                            margin: 0 0 0 10px;
                        }
                        & > [data-type="more"] {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }
}