@use "manager" as *;
.neo-layout-scrolleffect {
    @include layout-common('[data-id="neo-scroll-effect-button"]', '[data-id="neo-layout-button"]');
    #preview [data-node-id],
    .protyle-wysiwyg [data-type=NodeBlockQueryEmbed][data-node-id] {
        animation: none !important;
    }
    .protyle[data-loading="finished"] {
        .protyle-title,
        .protyle-wysiwyg [data-node-id]:not([fold="1"]),
        .protyle-wysiwyg [data-node-id].li > .protyle-action,
        .protyle-wysiwyg .callout-info {
            animation: neo-content-scroll-reveal cubic-bezier(0.46, 0.03, 0.52, 0.96) both;
            animation-timeline: view(block);
        }
    }
    //.b3-card,
    .config-group > .b3-label {
        animation: neo-card-scroll-reveal cubic-bezier(0.46, 0.03, 0.52, 0.96) both;
        animation-timeline: view(block);
    }
    @keyframes neo-content-scroll-reveal {
        0% {
            opacity: 0.2;
            transform: translate(5px, 15px);
            filter: blur(2px);
        }
        15% {
            opacity: 1;
            transform: translate(0, 0);
            filter: blur(0);
        }
        85% {
            opacity: 1;
            transform: translate(0, 0);
            opacity: 1;
            transform: translate(0, 0);
            filter: blur(0);
        }
        100% {
            opacity: 0.5;
            transform: translate(-5px, -15px);
            filter: blur(2px);
        }
    }
    @keyframes neo-card-scroll-reveal {
        0% {
            opacity: 0.2;
            transform: translate(0, 15px);
            filter: blur(2px);
        }
        15% {
            opacity: 1;
            transform: translate(0, 0);
            filter: blur(0);
        }
        85% {
            opacity: 1;
            transform: translate(0, 0);
            opacity: 1;
            transform: translate(0, 0);
            filter: blur(0);
        }
        100% {
            opacity: 0.5;
            transform: translate(0, -15px);
            filter: blur(2px);
        }
    }
}