@use "manager" as *;
.neo-texture-checkerboard {
    @include texture-common("[data-id="neo-texture-checkerboard-button"]", "[data-id="neo-texture-button"]");
    body {
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-repeat: repeat;
            mix-blend-mode: unset;
            opacity: 0.02;
            pointer-events: none;
            z-index: 99;
            background-image: repeating-conic-gradient(var(--b3-theme-background) 0% 25%, var(--b3-theme-on-background) 0% 50%);
            background-position: 0 0, 32px 32px;
            background-size: 64px 64px;
            background-color: transparent;
        }
    }
    &.neo-mode-dark {
        body {
            &::before {
                opacity: 0.01;
            }
        }
    }
}
