@use "manager" as *;
.neo-customimage-detail-tip {
    margin-left: 6px;
    font-size: 0.8em;
    color: var(--b3-theme-on-surface);
    opacity: 0.68;
    cursor: pointer;
    user-select: none;
    transition: var(--b3-transition);
    &:hover {
        opacity: 1;
        color: var(--b3-theme-accent);
    }
}
.neo-texture-customimage {
    @include texture-common('[data-id="neo-texture-customimage-button"]', '[data-id="neo-texture-button"]');
    body {
        opacity: var(--neo-customimage-layout-opacity);
    }
    #neo-texture-layer {
        background: var(--neo-customimage-info);
        background-repeat: var(--neo-customimage-repeat);
        background-size: var(--neo-customimage-size);
        background-position: var(--neo-customimage-x) var(--neo-customimage-y);
        background-blend-mode: var(--neo-customimage-background-blend-mode);
        mix-blend-mode: var(--neo-customimage-effect);
        opacity: var(--neo-customimage-opacity);
        filter: blur(var(--neo-customimage-blur))
                brightness(var(--neo-customimage-brightness))
                saturate(var(--neo-customimage-saturation))
                contrast(var(--neo-customimage-contrast))
                grayscale(var(--neo-customimage-grayscale))
                hue-rotate(var(--neo-customimage-hue-rotate));
    }
}
