@use "manager" as *;
$border-width: 3px;
.neo-extension-coloredfolders {
    @include extension-common('[data-id="neo-colored-folders-button"]', '[data-id="neo-extension-button"]');
    .sy__file {
        --neo-dock-indent-fork-left: -9px;
        & .b3-list-item {
            margin: 1px 0;
            border-radius: 0;
        }
        & > .fn__flex-1 {
            & > ul {
                margin: 0 10px 0 15px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: calc(-1 * $border-width);
                    top: 0;
                    bottom: 0;
                    width: $border-width;
                    z-index: 3;
                    pointer-events: none;
                }
                &:not(:last-child) {
                    margin-bottom: 3px;
                }
                @for $i from 0 through 7 {
                    $hue-offset: #{$i * 45};
                    &:nth-of-type(8n + #{$i + 1}) {
                        background-color: oklch(from var(--b3-theme-accent) l 0.12 calc(h + #{$hue-offset}) / 0.12);
                        --b3-list-hover: oklch(from var(--b3-theme-accent) l 0.12 calc(h + #{$hue-offset}) / 0.12);
                        & .b3-list-item--focus {
                            background-color: oklch(from var(--b3-theme-accent) l 0.15 calc(h + #{$hue-offset}) / 0.15);
                        }
                        &::before {
                            background-color: oklch(from var(--b3-theme-accent) l 0.15 calc(h + #{$hue-offset}) / 0.5);
                        }
                    }
                }
                & > li:first-child {
                    margin-inline-start: 0;
                    margin-inline-end: 0;
                }
                & ul {
                    &::before {
                        left: calc(var(--neo-indent-offset) - 6px)
                    }
                }
            }
        }
    }
}
