@use "manager" as *;
.neo-extension-focusblockindicator {
    @include extension-common('[data-id="neo-focus-block-indicator-button"]', '[data-id="neo-extension-button"]');
    body.neo-extension-focusblockindicator-vertical-line {
        .protyle-wysiwyg [neo-focus-block] {
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 3.5px;
                height: calc(100% - 1em);
                border-radius: 8px;
                inset-inline-start: -8px;
                top: 50%;
                transform: translateY(-50%) scaleY(0);
                background-color: var(--b3-theme-accent);
                animation: neo-focusblock-entrance-vertical-line 0.3s var(--neo-ease-spring-2) forwards;
            }
        }
    }
    body.neo-extension-focusblockindicator-shadow {
        .protyle-wysiwyg [neo-focus-block] {
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                border-radius: inherit;
                corner-shape: inherit;
                box-shadow: var(--neo-main-shadow-heavy);
                pointer-events: none;
                animation: neo-focusblock-entrance-shadow 0.3s;
            }
        }
    }
    body.neo-extension-focusblockindicator-background {
        .protyle-wysiwyg [neo-focus-block] {
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                border-radius: inherit;
                corner-shape: inherit;
                background-color: oklch(from var(--neo-focusblock-text-color, currentColor) l c h / 0.08);
                pointer-events: none;
                animation: neo-focusblock-entrance-background 0.3s;
            }
        }
    }
}
@keyframes neo-focusblock-entrance-vertical-line {
    from {
        transform: translateY(-50%) scaleY(0);
    }
    to {
        transform: translateY(-50%) scaleY(1);
    }
}
@keyframes neo-focusblock-entrance-shadow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes neo-focusblock-entrance-background {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
