@use "manager" as *;
@property --neo-immersive-mask-position {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%;
}
@property --neo-immersive-mask-height {
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
}
@property --neo-immersive-text-color-bg {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(from var(--b3-theme-primary) l c h / 0.2);
}
.neo-extension-immersivemode {
    @include extension-common('[data-id="neo-immersive-mode-button"]', '[data-id="neo-extension-button"]');
    body.neo-extension-immersivemode-highlight {
        .protyle-content {
            $mask-height: var(--neo-immersive-mask-height);
            $mask-position: var(--neo-immersive-mask-position);
            --neo-immersive-text-color-bg: oklch(from var(--neo-immersive-text-color) l c h / 0.12);
            $bg-clarity: 0.5;
            $mask-fade: calc(calc(var(--b3-width-protyle) - var(--b3-width-protyle-wysiwyg)) / 2);
            transition: --neo-immersive-mask-position 0.3s, --neo-immersive-mask-height 0.3s, --neo-immersive-text-color 0.3s;
            mask-image:
                linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, $bg-clarity) calc($mask-position - $mask-height),
                    #000 calc($mask-position - $mask-height),
                    #000 calc($mask-position + $mask-height),
                    rgba(0, 0, 0, $bg-clarity) calc($mask-position + $mask-height)
                ),
                linear-gradient(
                    to right,
                    transparent 0%,
                    #000 $mask-fade,
                    #000 calc(100% - $mask-fade),
                    transparent 100%
                );
            mask-composite: intersect;
            background: linear-gradient(
                to bottom,
                transparent calc($mask-position - $mask-height),
                var(--neo-immersive-text-color-bg) calc($mask-position - $mask-height),
                var(--neo-immersive-text-color-bg) calc($mask-position + $mask-height),
                transparent calc($mask-position + $mask-height)
            );
        }
    }
}