@use "../utils" as *;
@use "manager" as *;
.neo-extension-sidememo {
    @include extension-common('[data-id="neo-sidememo-button"]', '[data-id="neo-extension-button"]');
}
@keyframes neo-sidememo-connector {
    from {
        opacity: 0;
        stroke-dashoffset: 0;
        filter: blur(2px);
    }
    to {
        opacity: 1;
        stroke-dashoffset: -45;
        filter: blur(0px);
    }
}
.tooltip--memo#tooltip.neo-sidememo-tooltip-memo-none {
    display: none;
}
 .neo-sidememo-container {
    display: block;
    position: absolute;
    width: var(--neo-sidememo-container-width);
    max-width: calc(var(--b3-width-protyle-content) - 2 * var(--neo-sidememo-re));
    right: min(calc(-1 * var(--neo-sidememo-protyle-padding) + var(--neo-sidememo-re)), var(--neo-sidememo-re));
    transition: var(--b3-transition);
    overflow: visible;
    .neo-sidememo-left & {
        --neo-sidememo-re: 16px;
        right: auto;
        left: min(calc(-1 * var(--neo-sidememo-protyle-padding) + var(--neo-sidememo-re)), var(--neo-sidememo-re));
    }
    &.neo-sidememo-container-resize {
        opacity: 0.6;
        .neo-sidememo-inlinememo-item,
        .neo-sidememo-blockmemo-item,
        .neo-sidememo-filememo-item {
            cursor: grab;
        }
    }
}
.neo-sidememo-inlinememo-item,
.neo-sidememo-blockmemo-item,
.neo-sidememo-filememo-item {
    width: var(--neo-sidememo-container-width);
    max-width: calc(var(--b3-width-protyle-content) - 2 * var(--neo-sidememo-re));
    @include superellipse(12px);
    outline: 0.75px solid var(--b3-border-color-trans);
    outline-width: -0.75px;
    font-size: 0.8125em;
    color: oklch(from var(--b3-theme-on-background) l c h / 0.75);
    transition: all var(--b3-transition), top 0s;
    padding: 0.2em 0.7em;
    &:hover,
    &[neo-sidememo-highlight] {
        outline-color: oklch(from var(--b3-theme-accent) l c h / 0.3);
        background-color: oklch(from var(--b3-theme-accent) l c h / 0.12);
    }
}
.neo-sidememo-inlinememo-item-title,
.neo-sidememo-blockmemo-item-title,
.neo-sidememo-filememo-item-title {
    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    cursor: pointer;
    color: oklch(from var(--b3-theme-on-background) l c h / 0.45);
    transition: var(--b3-transition);
    &:hover {
        color: var(--b3-theme-accent);
    }
}
.neo-sidememo-inlinememo-item-content,
.neo-sidememo-blockmemo-item-content,
.neo-sidememo-filememo-item-content {
    word-wrap: break-word;
    max-height: 300px;
    overflow: scroll;
    @include overflow-indicator-fadein-mask($fadeout-size-l, "top bottom");
}
.neo-sidememo-connector {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: visible;
    path {
        stroke: var(--b3-theme-accent);
        stroke-width: 2;
        fill: none;
        stroke-dasharray: 6,4;
        opacity: 0;
        animation: neo-sidememo-connector 0.45s ease-out forwards;
    }
}
.neo-sidememo-protyle {
    --neo-sidememo-container-width: 200px;
    --neo-sidememo-protyle-padding: calc((var(--b3-width-protyle-content) - var(--b3-width-protyle-wysiwyg)) / 2);
    --neo-sidememo-re: 35px;
    --neo-protyle-padding-right-re: max(var(--neo-sidememo-protyle-padding), calc(var(--neo-sidememo-container-width) + var(--neo-sidememo-re) + 24px));
    --neo-protyle-padding-left-re: max(calc(var(--neo-sidememo-protyle-padding) - max(calc(var(--neo-protyle-padding-right-re) - var(--neo-sidememo-protyle-padding)), 0px)), 24px);
    .protyle-top {
        & ~ .protyle-wysiwyg {
            padding-right: var(--neo-protyle-padding-right-re) !important;
            padding-left: var(--neo-protyle-padding-left-re) !important;
            .neo-sidememo-left & {
                --neo-sidememo-re: 16px;
                padding-left: var(--neo-protyle-padding-right-re) !important;
                padding-right: var(--neo-protyle-padding-left-re) !important;
            }
            [memo] {
                & > .protyle-attr .protyle-attr--memo {
                    transition: 0.65s var(--neo-ease-spring-4);
                }
                &:hover,
                &[neo-sidememo-highlight] {
                    & > .protyle-attr .protyle-attr--memo {
                        transform: scale(1.85);
                        color: var(--b3-theme-accent);
                    }
                }
            }
        }
    }
    .protyle-title .protyle-attr--memo {
        transition: 0.65s var(--neo-ease-spring-4);
        &:hover,
        &[neo-sidememo-highlight] {
            transform: scale(1.85);
            color: var(--b3-theme-accent);
        }
    }
}