@use "manager" as *;
.neo-extension-smooth-caret {
    @include extension-common('[data-id="neo-smooth-caret-button"]', '[data-id="neo-extension-button"]');
    .protyle-wysiwyg,
    .protyle-title__input,
    [data-type="NodeHeading"] {
        caret-color: transparent !important;
    }
    #neo-smooth-caret-item {
        position: fixed;
        width: 1.5px;
        border-radius: 8px;
        pointer-events: none;
        opacity: 1;
        background-color: var(--neo-smooth-caret-color, var(--b3-theme-accent));
        transition: 0.75s cubic-bezier(0.1, 0.9, 0.2, 1), opacity 0.3s;
        will-change: transform, height;
        &.neo-smooth-caret-hidden {
        opacity: 0;
        }
    }
    body.neo-extension-smooth-caret-breathing {
        #neo-smooth-caret-item {
            animation: neo-mooth-caret-breathing 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;;
        }
    }
}
@keyframes neo-mooth-caret-breathing {
    0%   { opacity: 1; }
    45%  { opacity: 1; }
    50%  { opacity: 0; }
    55%  { opacity: 0; }
    100% { opacity: 1; }
}