@use "manager" as *;
.neo-element-colorfulselection {
    @include element-common('[data-id="neo-colorful-selection-button"]', '[data-id="neo-element-button"]');
}
:root {
    ::selection {
        color: currentColor;
        background-color: oklch(from currentColor l c h / 0.2);
    }
    .hljs ::selection {
        color: currentColor;
        background-color: oklch(from currentColor l c h / 0.2);
    }
}