@use "manager" as *;
.neo-palette-aerisland {
    @include palette-common("[data-id="neo-palette-aerisland-button"]", "[data-id="neo-scheme-button"]");
    &[data-theme-mode="light"] {
        --b3-base-color: #8febe1;
        --b3-theme-primary: #4fbdb0;
        --b3-theme-accent: #2ea5a2;
        --b3-theme-background: #f7fcf5;
        --b3-theme-surface: #e5efdf;
        --b3-theme-on-background: #0c544c;
        --b3-theme-on-surface: #09423ba2;
    }
    &[data-theme-mode="dark"] {
        --b3-base-color: #44a197;
        --b3-theme-primary: #44a197;
        --b3-theme-accent: #44a197;
        --b3-theme-background: #12161f;
        --b3-theme-surface: #252b3b;
        --b3-theme-on-background: #c6c9b3;
        --b3-theme-on-surface: #c6c9b3a2;
    }
}
