@use "manager" as *;
.neo-palette-amber {
    @include palette-common("[data-id="neo-palette-amber-button"]", "[data-id="neo-scheme-button"]");
    &[data-theme-mode="light"] {
        --b3-base-color: #eecb9e;
		--b3-theme-primary: #b79d7b;
		--b3-theme-accent: #c58635;
		--b3-theme-background: #f8f5f1;
		--b3-theme-surface: #f2ece3;
		--b3-theme-on-background: #593e22;
		--b3-theme-on-surface: #836b49;
    }
    &[data-theme-mode="dark"] {
        --b3-base-color: #d5ab7c;
        --b3-theme-primary: #d5ab7c;
		--b3-theme-accent: #d5ab7c;
		--b3-theme-background: #221e1e;
		--b3-theme-surface: #423939;
		--b3-theme-on-background: #f4e6d2;
		--b3-theme-on-surface: #9d8b8b;
		&.neo-palette-invert {
			--b3-theme-background: #423939;
			--b3-theme-surface: #221e1e;
		}
    }
}
