@use "manager" as *;
@property --neo-followtime-vary {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
}
@keyframes neo-followtime-vary {
    0% { 
        --neo-followtime-vary: 0;
    }
    100% { 
        --neo-followtime-vary: 360;
    }
}
.neo-palette-followtime {
    @include palette-common("[data-id="neo-followtime-button"]");
    [data-id="neo-followtime-button"]::before {
        content: "";
    }
    animation: neo-followtime-vary 360s steps(180) infinite;
    --neo-custom-base-color: oklch(from var(--neo-followtime-base-color) l c calc(h + var(--neo-followtime-vary, 0))) !important;
}
[data-id="neo-followtime-button"] {
    input[type="color"] {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin-left: -2px;
    }
    .b3-menu__label {
        padding-left: 24px;
    }
    &::before {
        position: absolute;
        left: 9.5px;
        top: 50%;
        transform: translateY(-50%);
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: var(--b3-base-color);
    }
    &:hover,
    &.b3-menu__item--current {
        &::before {
            outline: 1px solid oklch(from var(--neo-menu-item-primary) clamp(0, (0.72 - l) * 10000, 1) 0 0 / 0.7);
            outline-offset: -1px;
        }
    }
}