@use "manager" as *;
@property --neo-followtime-vary {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
}
@keyframes neo-followtime-vary {
    0% { 
        --neo-followtime-vary: 0;
    }
    100% { 
        --neo-followtime-vary: 360;
    }
}
.neo-palette-followtime {
    @include palette-common("[data-id="neo-followtime-button"]");
    [data-id="neo-followtime-button"]::before {
        content: "";
    }
    animation: neo-followtime-vary 360s steps(180) infinite;
    --neo-custom-base-color: oklch(from var(--neo-followtime-base-color) l c calc(h + var(--neo-followtime-vary, 0))) !important;
}
.b3-menu__item[data-id="neo-followtime-button"] {
    @include palette-base-color-input;
    @include palette-base-color-dot
}