@use "manager" as *;
.neo-palette-gingko {
    @include palette-common("[data-id="neo-palette-gingko-button"]", "[data-id="neo-scheme-button"]");
    &[data-theme-mode="light"] {
        --b3-base-color: #d55a5a;
        --b3-theme-primary: #d55a5a;
        --b3-theme-accent: #d55a5a;
        --b3-theme-background: #fff5cc;
        --b3-theme-surface: #fae9b3;
        --b3-theme-on-background: #4a2e1f;
        --b3-theme-on-surface: #7c7065;
    }
}
