@use "manager" as *;
.neo-palette-opalite {
    @include palette-common("[data-id="neo-palette-opalite-button"]", "[data-id="neo-scheme-button"]");
    &[data-theme-mode="light"] {
        --b3-base-color: #b8d2e8;
        --b3-theme-primary: #5e7cc6;
        --b3-theme-accent: #5e7cc6;
        --b3-theme-background: #f9f7e4;
        --b3-theme-surface: #f0efd0;
        --b3-theme-on-background: #336260;
        --b3-theme-on-surface: #6c8687;
    }
}
