@use "manager" as *;
.neo-palette-oxygen {
    @include palette-common("[data-id="neo-palette-oxygen-button"]", "[data-id="neo-scheme-button"]");
    &.neo-mode-dark {
        --b3-base-color: #efa685;
        --b3-theme-primary: #efa685;
        --b3-theme-accent: #efa685;
        --b3-theme-background: #272e33;
        --b3-theme-surface: #364852;
        --b3-theme-on-background: #e2dac5;
        --b3-theme-on-surface: #d3cab4;
        &.neo-palette-invert {
            --b3-theme-background: #364852;
            --b3-theme-surface: #272e33;
            --b3-theme-on-background: #f8efda;
            --b3-theme-on-surface: #ccc4b3;
        }
    }
}
