@use "manager" as *;
.neo-palette-salt {
    @include palette-common("[data-id="neo-palette-salt-button"]", "[data-id="neo-scheme-button"]");
    &[data-theme-mode="light"] {
        --b3-base-color: #007a95;
        --b3-theme-primary: #252830;
        --b3-theme-accent: #007a95;
        --b3-theme-background: #eaf2f2;
        --b3-theme-surface: #d7e0df;
        --b3-theme-on-background: #252931;
        --b3-theme-on-surface: #5a5355;
    }
}
