@use "manager" as *;
.neo-palette-starry {
    @include palette-common("[data-id="neo-palette-starry-button"]", "[data-id="neo-scheme-button"]");
    &[data-theme-mode="dark"] {
        --b3-base-color: #707299;
        --b3-theme-primary: #aeb1ea;
        --b3-theme-accent: #aeb1ea;
        --b3-theme-background: #3a3845;
        --b3-theme-surface: #2f2e38;
        --b3-theme-on-background: #ffe8d9;
        --b3-theme-on-surface: #d8c0ae;
        &.neo-palette-invert {
            --b3-theme-background: #2f2e38;
            --b3-theme-surface: #3a3845;
        }
    }
}
