@use "manager" as *;
.neo-palette-violet {
    @include palette-common("[data-id="neo-palette-violet-button"]", "[data-id="neo-scheme-button"]");
    &[data-theme-mode="light"] {
        --b3-base-color: #ad7a97;
        --b3-theme-primary: #ad7a97;
        --b3-theme-accent: #c35794;
        --b3-theme-background: #f8f6ff;
        --b3-theme-surface: #efebff;
        --b3-theme-on-background: #160045;
        --b3-theme-on-surface: #5b4785;
    }
    &[data-theme-mode="dark"] {
        --b3-base-color: #9e6c87;
        --b3-theme-primary: #9e6c87;
        --b3-theme-accent: #9e6c87;
        --b3-theme-background: #100c1d;
        --b3-theme-surface: #211f31;
        --b3-theme-on-background: #fcf6ff;
        --b3-theme-on-surface: #9d90a4;
        &.neo-palette-invert {
            --b3-theme-background: #211f31;
            --b3-theme-surface: #100c1d;
        }
    }
}
