.neo-customimage-detail-tip {
    margin-left: 6px;
    font-size: 0.8em;
    color: var(--b3-theme-on-surface);
    opacity: 0.68;
    cursor: pointer;
    user-select: none;
    transition: var(--b3-transition);
    &:hover {
        opacity: 1;
        color: var(--b3-theme-accent);
    }
}