.neo-settings-dialog {
    .b3-dialog__container {
        max-width: 90vw;
        max-height: 90vh;
        min-width: 400px;
    }
    .config-group {
        margin-left: 16px;
        margin-right: 16px;
        &:only-child {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .b3-label > .fn__space {
        width: 32px;
    }
    .neo-mobile & {
        .b3-label {
            flex-wrap: wrap;
            & > .fn__flex-1 {
                width: 100%;
            }
            & > .fn__space {
                display: none;
            }
            & > .fn__flex-center:not(.b3-switch) {
                width: 100%;
                margin-top: 8px;
                .fn__size200 {
                    width: 100%;
                }
            }
        }
    }
}