.neo-settings-dialog {
    .config-group {
        margin-left: 0;
        margin-right: 0;
        &:only-child {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .b3-label > .fn__space {
        width: 32px;
    }
    .neo-mobile & {
        .b3-label {
            flex-wrap: wrap;
            & > .fn__flex-1 {
                width: 100%;
            }
            & > .fn__space {
                display: none;
            }
            & > .fn__flex-center:not(.b3-switch) {
                width: 100%;
                margin-top: 8px;
                .fn__size200 {
                    width: 100%;
                }
            }
        }
    }
}