@mixin status-child {
    & > .toolbar__item,
    & > .status__msg,
    & > .status__counter,
    & > .status__backgroundtask {
        @content;
    }
}
.neo-enabled {
    @supports (bottom: anchor(--a bottom)) {
        .status {
            transform-origin: 100% 50%;
            &:not(.neo-status-hidden) {
                animation: neo-status-expand 0.45s var(--neo-ease-spring-3);
                @include status-child {
                    animation: neo-status-content 0.75s var(--neo-ease-spring-5) forwards;
                    animation-delay: 0.1s;
                    opacity: 0;
                }
            }
            &.neo-status-hidden {
                &:not(:hover) {
                    height: 15px;
                    width: 30px;
                    border-radius: 32px;
                    corner-shape: unset;
                    animation: neo-status-hidden 0.6s var(--neo-ease-spring-3);
                    @include status-child {
                        transition: none;
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 4px;
                        height: 4px;
                        background-color: var(--b3-theme-on-surface-light);
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        box-shadow: -8px 0 0 0 var(--b3-theme-on-surface-light), 8px 0 0 0 var(--b3-theme-on-surface-light);
                        animation: neo-status-dot 0.75s var(--neo-ease-spring-5) forwards;
                        animation-delay: 0.1s;
                        opacity: 0;
                    }
                }
                &:hover {
                    animation: neo-status-expand 0.45s var(--neo-ease-spring-3);
                    @include status-child {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                        animation: neo-status-content 0.75s var(--neo-ease-spring-5) forwards;
                        animation-delay: 0.1s;
                        opacity: 0;
                    }
                }
            }
        }
    }
}
@keyframes neo-status-expand {
    from {
        transform: scaleX(0.45) scaleY(0.5769);
    }
    to {
        transform: scaleX(1) scaleY(1);
    }
}
@keyframes neo-status-hidden {
    from {
        transform: scaleX(2.5) scaleY(1.7333);
    }
    to {
        transform: scaleX(1) scaleY(1);
    }
}
@keyframes neo-status-dot {
    from {
        transform: translate(-50%, -50%) translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
    }
}
@keyframes neo-status-content {
    from {
        transform: translateX(45px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}