@use "manager" as *;
.b3-menu__item[data-id="neo-sidebar-mute-button"] {
    .neo-palette-highcontrast.neo-mode-light & {
        opacity: 0.38;      
    }
}
.neo-sidebar-mute {
    @include sidebarmute-common('[data-id="neo-sidebar-mute-button"]');
    &:not(.neo-palette-highcontrast.neo-mode-light):not(.neo-ide) {
        .layout__dockl,
        .layout__dockr,
        .layout__dockb {
            &:not(.layout--float) {
                .neo-haswnd {
                    & > [data-type=wnd] {
                        box-shadow: unset;
                        background-color: transparent;
                    }
                }
                .layout__resize {
                    &:not(:hover) {
                        &::after {
                            background-color: var(--b3-border-color-trans);
                        }
                    }
                }
            }
        }
    }
}