@use "manager" as *;
@use "../utils" as *;
$breadcrumb-height: 42px;
$breadcrumb-offset: 6px;
$tab-height: 42px;
$tab-offset: 6px;
$header-height: 40vh;
$header-parallax: 5vh;
$text-shadow: 0 0 0.5px var(--b3-theme-background);
$svg-shadow: drop-shadow(0 0 0.5px var(--b3-theme-background));
.neo-visual-superfusion {
    @include superfusion-common('[data-id="neo-super-fusion-button"]', '[data-id="neo-visual-button"]');
    .protyle {
        & > .protyle-breadcrumb {
            margin-top: calc($breadcrumb-height * -1);
            padding-top: calc($breadcrumb-height + $breadcrumb-offset);
            z-index: 2;
            .protyle-breadcrumb__bar {
                @include superellipse(6px);
                background-color: oklch(from var(--b3-theme-background) l c h / 0.5);
                backdrop-filter: blur(6px);
                padding: 0 4px;
                &:empty {
                    visibility: hidden;
                }
            }
            .block__icon {
                svg {
                    filter: $svg-shadow;
                }
            }
            .protyle-breadcrumb__icon {
                text-shadow: $text-shadow;
            }
        }
        & > .protyle-content {
            margin-top: calc($breadcrumb-height * -1 + $breadcrumb-offset);
            padding-top: $breadcrumb-height;
            .protyle-background {
                margin-top: calc($breadcrumb-height * -1);
            }
            .protyle-background__img {
                &::after {
                    content: "";
                    position: absolute;
                    top: calc(25vh + 2px);
                    left: 0;
                    width: 100%;
                    height: 15vh;
                    background: linear-gradient(to top, var(--b3-theme-background) 2%, rgba(from var(--b3-theme-background) r g b / 0.97) 9%, rgba(from var(--b3-theme-background) r g b / 0.9) 18%, rgba(from var(--b3-theme-background) r g b / 0.75) 33%, rgba(from var(--b3-theme-background) r g b / 0.05) 92%, transparent 99%);
                    pointer-events: none;
                }
                .protyle-icons {
                    top: $breadcrumb-height;
                }
                &.fn__none + .protyle-background__ia {
                    padding-top: calc($breadcrumb-height + $breadcrumb-offset);
                    z-index: 2;
                }
                &:not(.fn__none) + .protyle-background__ia {
                    margin-top: -5vh;
                }
            }
            // 视差滚动
            scroll-timeline-name: --protyle-conten-scroll;
            scroll-timeline-axis: block;
            .protyle-background__img {
                height: $header-height;
                transform-origin: center;
                animation: header-parallax ease-out;
                animation-timeline: --protyle-conten-scroll;
                animation-range: 0 $header-height;
                img, video {
                    height: $header-height;
                }
            }
        }
    }
    &:not(.neo-visual-verticaltabs) body:not(.body--toolbar-hide),
    .body--window,
    .neo-ide-body.body--toolbar-hide {
        .layout__center [data-type="wnd"] > .fn__flex:first-child {
            background-color: transparent;
            z-index: 3;
            margin-bottom: calc($tab-height * -1);
            .layout-tab-bar {
                background-color: transparent;
                .item {
                    &::before {
                        background-color: oklch(from var(--b3-theme-on-background) l c h / 0.3);
                    }
                    &.item--focus {
                        background-color: oklch(from var(--b3-theme-background) l c h / 0.5) !important;
                    }
                }
            }
            & + .layout-tab-container {
                & > .protyle {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: calc($tab-height * 2);
                        pointer-events: none;
                        background-color: oklch(from var(--b3-theme-background) l c h / 0.5);
                        mask: linear-gradient(black, transparent);
                        z-index: 1;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: calc($tab-height * 2);
                        pointer-events: none;
                        backdrop-filter: blur(3px);
                        background-color: transparent;
                        mask: linear-gradient(black 42px, transparent);
                        z-index: 0;
                    }
                    & > .protyle-breadcrumb {
                        padding-top: calc($breadcrumb-height + $breadcrumb-offset + $tab-height - $breadcrumb-offset);
                    }
                    & > .protyle-content {
                        margin-top: calc($breadcrumb-height * -1 + $breadcrumb-offset - $tab-height + $breadcrumb-offset);
                        .protyle-background {
                            margin-top: calc($breadcrumb-height * -1);
                        }
                        .protyle-background__img {
                            .protyle-icons {
                                top: calc($breadcrumb-height + $tab-height);
                            }
                            &.fn__none + .protyle-background__ia {
                                padding-top: calc($breadcrumb-height + $breadcrumb-offset + $tab-height + $breadcrumb-offset);
                            }
                        }
                    }
                }
                & > .fn__flex-1:not(.protyle) {
                    margin-top: $tab-height;
                }
            }
        }
    }
}
@keyframes header-parallax {
    to {
        transform: scale(1.375) translateY($header-parallax);
        filter: blur(1px);
        opacity: 0;
    }
}
// 手机端
$mobile-toolbar-height: 50px;
.neo-visual-superfusion {
    .neo-mobile {
        .protyle-background__img {
            animation: none !important;
        }
        .b3-menu--fullscreen {
            .b3-menu__title {
                margin-bottom: calc($mobile-toolbar-height * -1);
                backdrop-filter: blur(6px);
                z-index: 1;
                height: $mobile-toolbar-height;
                .b3-menu__icon {
                    filter: $svg-shadow; 
                }
                .b3-menu__label {
                    text-shadow: $text-shadow;
                }
            }
            .b3-menu__items {
                padding-top: $mobile-toolbar-height;
            }
        }
        & > .toolbar {
            margin-bottom: calc($mobile-toolbar-height * -1);
            background-color: transparent;
            backdrop-filter: blur(6px);
            z-index: 3;
            height: $mobile-toolbar-height;
            .toolbar__icon {
                filter: $svg-shadow; 
            }
            .toolbar__title,
            .toolbar__text {
                text-shadow: $text-shadow;
            }
        }
        #editor {
            padding-top: $breadcrumb-offset;
            & > .protyle-breadcrumb {
                margin-top: 0;
                padding-top: calc($breadcrumb-height + $breadcrumb-offset * 2);
                .protyle-breadcrumb__icon {
                    text-shadow: $text-shadow;
                }
                .block__icon {
                    svg {
                        filter: $svg-shadow;
                    }
                }
            }
            & > .protyle-content {
                margin-top: -84px;
                padding-top: calc($breadcrumb-height + $mobile-toolbar-height);
            }
        }
        #sidebar {
            & > .toolbar:first-child {
                height: $mobile-toolbar-height;
            }
        }
        #model {
            & > .toolbar--border {
                margin-bottom: calc($mobile-toolbar-height * -1);
                background-color: transparent;
                z-index: 99;
                height: $mobile-toolbar-height;
                .toolbar__icon {
                    filter: $svg-shadow; 
                }
                .toolbar__title,
                .toolbar__text {
                    text-shadow: $text-shadow;
                }
            }
            #modelMain {
                padding: $mobile-toolbar-height 0 0 0;
            }
        }
    }
}